<!doctype html>
<html id="<%= id %>">
  <head>
    <meta charset="utf-8">
    <meta content="ie=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width,initial-scale=1" name="viewport">
    <meta content="livingstyleguide.org <%= LivingStyleGuide::VERSION %>" name="generator">

    <link href="https://dax2lgcd0wbaz.cloudfront.net/assets/favicon-ef96c1978fef7b3c2b5c6a66bb7d75bc856702cfe7dd688fb6e4a6e609eca897.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 

    <title><%= ERB::Util.h(title) %></title>
    <script>
      <%= javascript %>
    </script>
    <style>
      <%= css %>
    </style>
    <%= head %>
  </head>
  <body class="lsg">
    <%= header %>
    <% unless before.empty? %>
      <section class="container">
        <section class="row">
          <div class="col-md-12">
            <section class="lsg-before">
              
              <%= before %>
            </section>
          </div>
        </section>
      </section>
    <% end %>
    <section class="container">
      <section class="row">
        <div class="col-md-12">
          <article class="lsg-container">
            <%= html %>
          </article>
        </div>
      </section>
    </section>
    <% unless after.empty? %>
      <section class="container">
        <section class="row">
          <div class="col-md-12">
            <section class="lsg-after">
              <%= after %>
            </section>
          </div>
        </section>
      </section>
    <% end %>
    <%= footer %>
    <%= logo %>
  </body>
</html>
